{% extends 'layout/base.html.twig' %}


{% block title %}AI Assistant{% endblock %}

{% block body %}
    <div class="container-fluid row">
        <div class="row">
            {% include 'assistant/assistant-bar.html.twig' %}
            <div class="col">
                <div class="form-group">
                    <label for="systemInput">System:</label>
                    <textarea style="height: 500px;" class="form-control d-inline-block" id="systemInput"
                              placeholder="Enter system command or info"> </textarea>
                </div>
            </div>

            <div class="chat col d-flex flex-column justify-content-between">
                <div class="chat-box" id="chatBox">
                    <p>Conversation:</p>
                </div>
                <div class="input-section ">
                    <div class="input-group">
                        <input type="text" class="form-control" id="userInput" placeholder="Type your message...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" onclick="sendMessage()">Send</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    {% block javascripts %}
        <script>   var dataUrl = "{{ path('assistent_prompt') }}"; </script>
        <script src="/js/assistent.js"></script>
    {% endblock %}
{% endblock %}

