.chat {
    height: 90vh;
}

.chat-box {
    height: 800px;
    overflow-y: auto;
}

.conversation {
    margin: 5px;
    padding: 3px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 10px;
    transition: border;
}

.conversation:hover {
    border: var(--bs-border-width) solid grey;
    box-shadow: 1px 1px rgba(0, 0, 255, .2);
}

.user {
    color: black;
    background-color: #a1dae7;
}

.ai {
    color: black;
    background-color: rgba(181, 244, 186, 0.88);
}