{% extends 'base.html.twig' %}

{% block title %}AI Assistant{% endblock %}

{% block body %}
<div class="row border h-75">
    <div class="col-md-4">
        <div class="form-group">
            <label for="systemInput">System</label>
            <textarea type="text" class=" form-control" id="systemInput" placeholder="Enter system command or info"> </textarea>
        </div>
    </div>
    <div class="col-md-8">
        <div class="chat-box" id="chatBox">
            <!-- Here the conversation will be displayed -->
        </div>
        <div class="input-section">
            <div class="input-group">
                <input type="text" class="form-control" id="userInput" placeholder="Type your message...">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" onclick="sendMessage()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

    {% block javascripts %}
        <script>   var dataUrl = "{{ path('assistent_prompt') }}"; </script>
        <script src="{{ asset('js/assistent.js') }}"></script>
    {% endblock %}
{% endblock %}
